<aside>

    <div class="widget">
        <h3>Iniciar Sesión</h3>
        <form>
            <input type="email" name="email" placeholder="Email">
            <input type="password" name="password" placeholder="Password">
            <input type="submit" value="Entrar">
        </form>
    </div>

    <div class="widget">
        <h3>Últimas Entradas</h3>
        <ul>
                <li>
                <a href="#">Primer Ejemplo</a>
                </li>
                <li>
                <a href="#">Segundo Ejemplo</a>
                </li>
                <li>
                <a href="#">Tercer Ejemplo</a>
                </li>
                <li>
                <a href="#">Cuarto Ejemplo</a>
                </li>
                <li>
                <a href="#">Quinto Ejemplo</a>
                </li>
        </ul>
    </div>

    <div class="widget">
        <h3>Frase del Día</h3>
        <blockquote>
            La mejor manera de ser programador es escribir y estudiar codigo.   
        </blockquote>
    </div>

</aside>